body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1079px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:648px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:648px;
}
#u59 {
  position:absolute;
  left:2px;
  top:316px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u60 {
  position:absolute;
  left:766px;
  top:63px;
  width:42px;
  height:42px;
}
#u61 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:737px;
  top:41px;
  width:62px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u63 {
  position:absolute;
  left:-1px;
  top:154px;
  width:45px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u64 {
  position:absolute;
  left:0px;
  top:64px;
  width:44px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u65 {
  position:absolute;
  left:0px;
  top:244px;
  width:44px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u66 {
  position:absolute;
  left:0px;
  top:334px;
  width:44px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u67 {
  position:absolute;
  left:0px;
  top:568px;
  width:44px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
