body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:674px;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:674px;
}
#u1 {
  position:absolute;
  left:2px;
  top:329px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
  background:-webkit-linear-gradient(0deg, rgba(128, 146, 238, 1) 0%, rgba(128, 146, 238, 1) 0%, rgba(122, 169, 241, 1) 100%, rgba(122, 169, 241, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(128, 146, 238, 1) 0%, rgba(128, 146, 238, 1) 0%, rgba(122, 169, 241, 1) 100%, rgba(122, 169, 241, 1) 100%);
  background:linear-gradient(90deg, rgba(128, 146, 238, 1) 0%, rgba(128, 146, 238, 1) 0%, rgba(122, 169, 241, 1) 100%, rgba(122, 169, 241, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:407px;
  top:394px;
  width:97px;
  height:31px;
}
#u3 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
  background:-webkit-linear-gradient(0deg, rgba(119, 177, 244, 1) 0%, rgba(119, 177, 244, 1) 0%, rgba(114, 194, 247, 1) 100%, rgba(114, 194, 247, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(119, 177, 244, 1) 0%, rgba(119, 177, 244, 1) 0%, rgba(114, 194, 247, 1) 100%, rgba(114, 194, 247, 1) 100%);
  background:linear-gradient(90deg, rgba(119, 177, 244, 1) 0%, rgba(119, 177, 244, 1) 0%, rgba(114, 194, 247, 1) 100%, rgba(114, 194, 247, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  position:absolute;
  left:576px;
  top:394px;
  width:97px;
  height:31px;
}
#u5 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u6 {
  position:absolute;
  left:524px;
  top:370px;
  width:42px;
  height:42px;
}
#u7 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:424px;
  top:350px;
  width:234px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
