body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1161px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1161px;
}
#u138 {
  position:absolute;
  left:2px;
  top:572px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u139 {
  position:absolute;
  left:37px;
  top:360px;
  width:42px;
  height:42px;
}
#u140 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:9px;
  top:164px;
  width:45px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u142 {
  position:absolute;
  left:10px;
  top:74px;
  width:44px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u143 {
  position:absolute;
  left:10px;
  top:254px;
  width:44px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u144 {
  position:absolute;
  left:10px;
  top:344px;
  width:44px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u145 {
  position:absolute;
  left:10px;
  top:578px;
  width:44px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
